<div class="flex h-screen">
    <div class="surface-section w-full md:w-6 p-6 md:p-8">
         <div class="mb-5">
             <img src="assets/newMe.jpg" alt="Image" height="50" class="mb-3">
             <div class="text-900 text-3xl font-medium mb-3">Welcome Back</div>
             <span class="text-600 font-medium mr-2">Don't have an account?</span>
             <a [routerLink]="['/signUp']" class="font-medium no-underline text-blue-500 cursor-pointer">Create today!</a>
         </div>
         <div>
             <label for="username" class="block text-900 font-medium mb-2">Username</label>
             <input id="username" type="text" pInputText class="w-full mb-3 p-3">
 
             <label for="password" class="block text-900 font-medium mb-2">Password</label>
             <input id="password" type="password" pInputText class="w-full mb-3 p-3">
 
 
             <button pButton pRipple label="Sign In" icon="pi pi-user" class="w-full p-3"></button>
         </div>
    </div>
    <div class="hidden md:block w-6 bg-no-repeat bg-cover" style="background-image: url('assets/fp.jpg')"></div>
</div>