<div class="stepsdemo-content  h-screen">
    <p-card>
        <ng-template pTemplate="title">
            Payment Information
        </ng-template>
        <ng-template pTemplate="subtitle">
            Enter your card details
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid formgrid grid">
                <div class="field col-12">
                    <label for="class">Card Holder Name</label>
                    <input type="text" required pInputText [(ngModel)]="signUpInfoService.user.paymentInfo.cardHolderName"> 
                </div>
                <div class="field col-8">
                    <label id="number" for="lastname">Number</label>
                    <p-inputMask inputId="number" mask="9999-9999-9999-9999" [(ngModel)]="signUpInfoService.user.paymentInfo.number"></p-inputMask>
                </div>
                <div class="field col-2">
                    <label id="date" for="date">Date</label>
                    <p-inputMask inputId="date" mask="99/99" [(ngModel)]="signUpInfoService.user.paymentInfo.date"></p-inputMask>
                </div>
                <div class="field col-2">
                    <label for="cvv">CVV</label>
                    <p-inputMask id="cvv" mask="999" [(ngModel)]="signUpInfoService.user.paymentInfo.Cvv"></p-inputMask>
                </div>
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter col-12">
                <p-button class="col-9 md:col-10 lg:col-11" label="Back" [routerLink]="['/signUp/medical']"  icon="pi pi-angle-left" iconPos="left"></p-button>
                <p-button class="col-1" label="Skip" [routerLink]="['/signUp/confirmation']" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>

