 
        <div class="flex flex-column flex-auto">
            <div class="surface-section p-5">
                <div class="flex align-items-start flex-column lg:flex-row lg:justify-content-between col-11">
                    <div class="flex align-items-start flex-column md:flex-row">
                        <img src="assets/images/blocks/avatars/circle/avatar-f-1@2x.png" class="mr-5 mb-3 lg:mb-0" style="width:90px;height:90px" />
                        <div>
                            <span class="text-900 font-medium text-3xl">Kathryn Murphy</span>
                            <div class="flex align-items-center flex-wrap text-sm">
                                <div class="ml-4 mr-5 mt-3">
                                    <span class="font-medium text-500 text-lg">Age</span>
                                    <div class="text-700 mt-2 text-lg">20</div>
                                </div>
                                <div class="mr-5 mt-3">
                                    <span class="font-medium text-500 text-lg">Gender</span>
                                    <div class="text-700 mt-2 text-lg">Female</div>
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    <p-button class="col-2" label="Log out" [routerLink]="['']" icon="pi pi-angle-right" iconPos="right"  ></p-button>
                </div>
              
            </div>
            <div class="p-5">
                <div class="grid">
                    <div class="col-12 lg:col-6 xl:col-3">
                        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                            <div class="flex justify-content-between mb-3" style="height:150px">
                                <div>
                                    <span class="block text-500 font-medium mb-3 text-2xl">Height</span>
                                    <div class="text-900 font-medium text-4xl">152</div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-blue-100 border-round" style="width:2.5rem;height:2.5rem">
                                    <i class="pi pi-align-justify text-blue-500 text-xl"></i>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-12 lg:col-6 xl:col-3">
                        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                            <div class="flex justify-content-between mb-3" style="height:150px">
                                <div>
                                    <span class="block text-500 font-medium mb-3 text-2xl">Weight</span>
                                    <div class="text-900 font-medium text-4xl">$2.100</div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-gray-100 border-round" style="width:2.5rem;height:2.5rem">
                                    <i class="pi pi-box text-black-500 text-xl"></i>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-12 lg:col-6 xl:col-3">
                        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                            <div class="flex justify-content-between mb-3" style="height:150px"> 
                                <div>
                                    <span class="block text-500 font-medium mb-3 text-2xl">Goal Weight</span>
                                    <div class="text-900 font-medium text-4xl">28441</div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-green-100 border-round" style="width:2.5rem;height:2.5rem">
                                    <i class="pi pi-check-square text-green-500 text-xl"></i>
                                </div>
                            </div>
                           
                        </div>
                    </div>
                    <div class="col-12 lg:col-6 xl:col-3">
                        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                            <div class="flex justify-content-between mb-3" style="height:150px">
                                <div>
                                    <span class="block text-500 font-medium mb-3 text-2xl">Daily Calorie Intake</span>
                                    <div class="text-900 font-medium text-4xl">152 Unread</div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-pink-100 border-round" style="width:2.5rem;height:2.5rem">
                                    <i class="pi pi-chart-line text-pink-500 text-xl"></i>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                    <div class="col-12 lg:col-6 xl:col-3">
                        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                            <div class="flex justify-content-between mb-3" style="height:150px">
                                <div>
                                    <span class="block text-500 font-medium mb-3 text-2xl">BMI</span>
                                    <div class="text-900 font-medium text-4xl">152 Unread</div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-purple-100 border-round" style="width:2.5rem;height:2.5rem">
                                    <i class="pi pi-chart-bar text-purple-500 text-xl"></i>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                    <div class="col-12 lg:col-6 xl:col-3">
                        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                            <div class="flex justify-content-between mb-3" style="height:150px">
                                <div>
                                    <span class="block text-500 font-medium mb-3 text-2xl">Allergies</span>
                                    <div class="text-900 font-medium text-4xl">152 Unread</div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-yellow-100 border-round" style="width:2.5rem;height:2.5rem">
                                    <i class="pi pi-exclamation-triangle text-yellow-500 text-xl"></i>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                    <div class="col-12 lg:col-6 xl:col-3">
                        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                            <div class="flex justify-content-between mb-3" style="height:150px">
                                <div>
                                    <span class="block text-500 font-medium mb-3 text-2xl">Medical Conditions</span>
                                    <div class="text-900 font-medium text-4xl">152 Unread</div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-orange-100 border-round" style="width:2.5rem;height:2.5rem">
                                    <i class="pi pi-heart text-orange-500 text-xl"></i>
                                </div>
                            </div>
                       
                        </div>
                    </div>
                    <div class="col-12 lg:col-6 xl:col-3">
                        <div class="surface-card shadow-2 p-3 border-1 border-50 border-round">
                            <div class="flex justify-content-between mb-3" style="height:150px">
                                <div>
                                    <span class="block text-500 font-medium mb-3 text-2xl">Current Nutritionist</span>
                                    <div class="text-900 font-medium text-4xl">152 Unread</div>
                                </div>
                                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round" style="width:2.5rem;height:2.5rem">
                                    <i class="pi pi-id-card text-cyan-500 text-xl"></i>
                                </div>
                            </div>
                       
                        </div>
                    </div>




                
                </div>
            </div>
        </div>
